<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About PaGE</title>
  </head>
  <body>
    <!-- About Page-->
    <img src="/logo.jfif" id="logo" alt="coffee logo" />
    <h3>Coffee Lovers</h3>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/numbers">Numbers</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
    <br />
    <img src="/background.jfif" width="100%" alt="coffee beans" />
    <br />
    <h1>About Us - (DILLONs Coffee)</h1>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident
      odio excepturi, rerum tempore, eius eligendi facere hic esse ab
      reprehenderit. Optio ipsum aut esse ut nam illum, nesciunt eum nisi
      repellat odio officia beatae pariatur odit minus enim hic cumque officiis
      sunt sint adipisci! Molestiae, itaque? Illo sunt, quis ratione ipsum,
      deserunt error natus quidem veritatis eveniet similique placeat eaque
      minus laudantium excepturi tempora? Ea, corrupti nisi dolorum ad autem id
      reprehenderit beatae nesciunt eos nulla odio repudiandae dignissimos est
      minima, quae deleniti perferendis, sint ducimus sunt aperiam porro
      quibusdam cumque possimus officiis. Nesciunt mollitia ab libero officia
      modi deserunt sequi. Nobis, harum eaque esse pariatur voluptates modi
      magnam aspernatur, ratione rem velit, libero voluptatem. Delectus, odio.
      Aut perferendis nemo maxime, aperiam saepe esse odit dolorum est
      voluptates cupiditate porro nihil fugit, iure repellendus tenetur vel
      alias labore ut similique dicta exercitationem eos ullam architecto.
      Reiciendis temporibus non, facilis in tenetur quas alias laborum molestiae
      nisi veniam consequatur quis. Odio rerum alias cumque quas placeat commodi
      ullam officia ad hic maiores esse, dicta doloremque culpa consequatur
      adipisci fuga molestiae exercitationem quisquam nostrum fugit. Quidem ut
      at molestiae, nostrum excepturi pariatur in optio. Assumenda earum nisi
      nulla doloremque debitis, beatae, voluptate adipisci corporis corrupti
      sapiente rem ipsa et qui ab esse optio doloribus, similique temporibus vel
      cum laboriosam. Voluptatibus asperiores voluptas dicta nulla tenetur
      officia molestias repudiandae corrupti ipsam sunt debitis iste ducimus
      neque velit nam delectus, tempora distinctio doloremque itaque. Neque
      expedita similique error id? Voluptates architecto praesentium autem
      soluta. Accusamus illum labore dolore provident dolores nam doloremque
      odit. Deleniti, reprehenderit suscipit quas atque quia at in veritatis
      magnam voluptas ut necessitatibus minus, assumenda cupiditate autem. Eos
      sit alias sunt reprehenderit! Molestias odio libero sit tempora, repellat
      itaque totam nisi ipsam accusamus? Mollitia sit, corrupti asperiores
      eveniet et quos.
    </p>
    <p>copyright&copy;2021</p>
    <h3><a href="#logo">Back To Top</a></h3>
  </body>
</html>
