<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
  </head>
  <body>
    <!-- Contact Page-->
    <img src="/logo.jfif" id="logo" alt="coffee logo" />
    <h3>Coffee Lovers</h3>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/numbers">Numbers</a></li>
    </ul>
    <br />
    <img
      src="/background.jfif"
      width="100%"
      alt="coffee beans"
    />
    <br />
    <h1>Contact Us</h1>
    <br />
    <form action="" method="">
      <!-- name -->
      <lable for="name">Name</lable>
      <input type="text" name="name" id="name" />
      <br />
      <br />
      <!-- email -->
      <lable for="emaiL">Email</lable>
      <input type="email" name="email" id="emaiL" />
      <br />
      <br />
      <!-- description -->
      <textarea
        name="description"
        id=""
        cols="30"
        rows="10"
        placeholder="Your Description"
      >
      </textarea>
      <br />
      <input type="submit" value="Sumit Please" />
    </form>
    <p>copyright&copy;2021</p>
    <h3><a href="#logo">Back To Top</a></h3>
  </body>
</html>
