<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Registration</title>
    <link rel="stylesheet" href="styleLoginReg.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form action="/auth/index" method="POST">
          <h3>Please Register</h3>
          <input type="text"     required placeholder="User name"     name="name" />
          <input type="password" required placeholder="password"      name="password" />
          <input type="email"    required placeholder="email address" name="email" />
          <input type="tel"      required placeholder="phone xxx-xxx-xxxx"    name="contactnumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
          <button type="submit">register user</button>
          <p class="message">
              Already Registered? <a href="indexLogin">Login</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
