<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numbers Page</title>
  </head>
  <body>
    <!-- Numbers Page-->
    <img src="/logo.jfif" id="logo" alt="coffee logo" />
    <h3>Coffee Lovers</h3>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
    <br />
    <img
      src="/background.jfif"
      width="100%"
      alt="coffee beans"
    />
    <br />
    <h1>Our Stores</h1>
    <br />
    <table style="border:2px solid; border-spacing: 25px black">
      <tr>
        <th>Citeis</th>
        <th>New Orleans</th>
        <th>Los Angeles</th>
        <th>Atlanta</th>
      </tr>
      <tr>
        <th>Orders</th>
        <th>488</th>
        <th>890</th>
        <th>367</th>
      </tr>
      <tr>
        <th>Profits</th>
        <th>$4,888</th>
        <th>$88,905</th>
        <th>$34,679</th>
      </tr>
    </table>
    <p>copyright&copy;2021</p>
    <h3><a href="#logo">Back To Top</a></h3>
  </body>
</html>
